global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'artha-backend'
    static_configs:
      - targets: ['artha-backend-prod:5000']
    metrics_path: '/metrics'
    scrape_interval: 30s

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'mongodb'
    static_configs:
      - targets: ['artha-mongo-prod:27017']
    scrape_interval: 30s

  - job_name: 'redis'
    static_configs:
      - targets: ['artha-redis-prod:6379']
    scrape_interval: 30s